.hero {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 100vw;
    height: 90vh;
    overflow: hidden;

    &__desc {
        padding: 180px 160px;
    }

    h1 {
        color: $darkBlue;
        font-weight: 300;
    }

    p {
        color: $grayishBlue;
        padding-bottom: 25px;
    }

    &__img1 {
        position: absolute;
        top: -200px;
        left: 600px;
        z-index: 1;
    }

    &__img2  {
        position: absolute;
        top: -100px;
        left: 780px;
        z-index: 2;
    }
}